@CHARSET "ISO-8859-1";
.Wrapper
{
	width: windows.width;
	background: white;
	margin: 0 auto 0 auto;	
	height: windows.height;
}
.registerButton
{
	height: 40px;
	width:80px;
	background: #6f6fff;
	color:black;
	font-style: italic;
}

.heading{
	height: 60px;
	background: #173139;
	padding: 20px;
	text-align: center;	
}
.searchclass
{
	color:#9d9d9d;
	height:20px;
	width:20%;
}
.HomeButtons
{
	border:0;
	height: 40px;
	width: 10%;
	background: #6f6fff;
	color:black;
	font-style: italic;
}
.navigation
{
	height: 50px;
	background: #6f6fff;
	width:widows.width;
	
}
.content
{
	min-height: 400px;
	background: white;
	width: 80%;
	float: left;
}
.sidebar {
	width: 20%;
	float: right;
	background: #ffffff;
	min-height: 400px;
	
}
.footer
{
	clear:both;
	background: #173139;
	height: 40px;
	color: #ffffff;
	text-align: center;
	padding: 10px;
}